$standard-background: hsla(0, 0%, 90%, 1);
$gradient-start: hsla(0, 0%, 90%, 1);
$gradient-middle: hsla(53, 81%, 93%, 1);
$gradient-end: hsla(99, 74%, 31%, 1);

@mixin radial-gradient($start-color: $gradient-start, $middle-color: $gradient-middle, $end-color: $gradient-end) {
  background: $standard-background; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient($start-color, $middle-color, $end-color); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient($start-color, $middle-color, $end-color); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient($start-color, $middle-color, $end-color); /* For Firefox 3.6 to 15 */
  background: radial-gradient($start-color, $middle-color, $end-color)
}


.hero {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  @include radial-gradient($gradient-start, $gradient-middle, $gradient-end);
}

.celery {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  height: 55rem;
  width: 45rem;
  box-shadow: 0 0 8px rgba(150, 150, 150, 1);
}

.tm {
  font-size: .5em;

}

.tagline {
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  border: 1px solid black;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border: 1px solid black;
    a {
      padding: 25px;
    }
}

.logo {
  display: flex;
  margin-top: .8em;
  height: 50px;
  width: 50px;
  border: 1px solid black;

}

.trademark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  width: 10%;
  border: 1px solid black;
}
